body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    flex: 1;
    justify-content: space-around;
    padding-top: 16px;
}

.header img {
    width: 100px;
    height: 75px;
    border-radius: 50%;
}

ul {
    display: flex;
    gap: 16px;
    align-items: center;
}

li {
    list-style-type: none;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 20px;
    border-radius: 12%;
    border-color: #f9faf8;
    width: 150px;
    height: 40px;
}

.hero_container {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.hero_container img {
    max-width: 648px;
    max-height: 432px;
    border-radius: 5%;
}

.hero_container p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}

.hero_text {
    max-width: 600px;
    flex-shrink: 0;
    text-align: center;
}

h1 {
    margin-top: 0;
}

h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card img {
    width: 300px;
    height: 300px;
    border-radius: 25%;
    border: 5px solid #3882f6;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 16px;
    text-align: center;
}

.quote {
    align-self: center;
    max-width: 700px;
}

.quote p {
    display: flex;
    justify-content: end;
}

.call_to_action {
    align-self: center;
}

.action_container {
    display: flex;
}

.footer {
    align-self: center;
}