body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-content: center;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-around;
    flex: 1;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
}

.hero_container {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.hero_container p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}

.hero_text {
    max-width: 600px;
}

.cards {
    display: flex;
}

h2 {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 16px;
}

.quote {
    align-self: center;
    max-width: 700px;
}

.quote p {
    display: flex;
    justify-content: end;
}

.call_to_action {
    align-self: center;
}

.action_container {
    display: flex;
}

.footer {
    align-self: center;
}