body, .header, .quote p, ul, .hero_container, .cards, .card, .quote, h3, .call_to_action, .action_container {
    display: flex;
}

.header, .hero_container, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

button, .action_container {
    background-color: #3882F6;
}

body {
    flex-direction: column;
    margin: 0;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    justify-content: space-around;
    padding-top: 16px;
}

.header img {
    width: 100px;
    height: 75px;
    border-radius: 50%;
}

ul {
    gap: 16px;
    align-items: center;
}

li {
    list-style-type: none;
}

button {
    color: #f9faf8;
    font-size: 20px;
    border-radius: 12%;
    border-color: #f9faf8;
    width: 150px;
    height: 40px;
}

.hero_container {
    font-size: 40px;
    font-weight: bolder;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.hero_container img {
    max-width: 648px;
    max-height: 432px;
    border-radius: 5%;
}

.hero_container p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}

.hero_text {
    max-width: 600px;
    flex-shrink: 0;
}

h1 {
    margin-top: 0;
}

h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
}

.cards {
    justify-content: center;
    gap: 50px;
}

.card img {
    width: 250px;
    height: 250px;
    border-radius: 25%;
    border: 5px solid #3882f6;
}

.card {
    flex-direction: column;
    max-width: 250px;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 16px;
    text-align: center;
}

.quote {
    flex-direction: column;
}

h3 {
    align-self: center;
    max-width: 700px;
}

.quote p {
    justify-content: end;
    margin-right: 35%;
}

.call_to_action {
    align-self: center;
}

.action_container {
    width: 1000px;
    border-radius: 12px;
    margin-top: 48px;
    margin-bottom: 48px;
    align-items: center;
    justify-content: space-evenly;
}

.cta_text {
    color: #e5e7eb;  
}

h4 {
    font-size: 16px;
    font-weight: bold;
}
.footer {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
}